<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'staff/staffindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="editqa1">
  <p>EDIT QUESTIONS AND ANSWERS</p>
  <table width="407" border="1">
    <tr>
      <th scope="row">Question</th>
      <td><label>
        <input type="text" name="textfield" value="{{val['question']}}" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Answer</th>
      <td><label>
        <textarea name="textarea" required>{{val['answer']}}</textarea>
      </label></td>
    </tr>
    <tr>
      <th scope="row">Mark</th>
      <td><label>
        <input type="text" name="textfield2" value="{{val['mark']}}" required/>
      </label></td>
    </tr>
    <tr>
      <th height="49" colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="add" />
      </label></th>
    </tr>
  </table>
  <p>&nbsp;  </p>
</form>
</body>
<!--</html>-->
{% endblock %}